
[Bb]in/
[Oo]bj/
[Pp]ublish/
*.dll
*.pdb


.vs/
*.user
*.suo
*.userosscache
*.sln.docstateopened


.idea/
.vscode/

wwwroot/uploads/**
!wwwroot/uploads/.gitkeep


migrate.sql

# ===== Log =====
*.log
logs/


*.mdf
*.ldf
*.ndf


appsettings.Development.json
appsettings.*.local.json
secrets.json


.DS_Store
Thumbs.db
